IndentWidth: 4
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ColumnLimit: 160
